# ASP.NET Core
bin/
obj/
.vs/
*.user
*.suo
appsettings.Development.json
appsettings.local.json

# React / Node.js
/ClientApp/node_modules
/ClientApp/build
/ClientApp/.env.local
/ClientApp/.env.development.local
/ClientApp/.env.test.local
/ClientApp/.env.production.local
/ClientApp/npm-debug.log*
/ClientApp/yarn-debug.log*
/ClientApp/yarn-error.log*

# SQLite & LiteDB
*.db
*.sqlite
*.sqlite3

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Logs
logs/
*.log
